{
    "env": {
        "development": {
            "presets": [
                "env",
                "react"
            ],
            "plugins": [
                "react-hot-loader/babel"
            ]
        },
        "production": {
            "presets": [
                [
                  "env",
                  {
                    "es2015": {
                      "modules": false
                    },
                    "targets": {
                      "ie": 9,
                      "uglify": true
                    }
                  }
                ],
                "react"
              ],
            "plugins": [
                "transform-react-remove-prop-types"
            ]
        }
    }
}
