{
    "env": {
        "development": {
            "presets": [
                "env",
                "react",
                "flow"
            ],
            "plugins": [
                "transform-react-jsx-source",
                "transform-react-jsx-self",
                "react-hot-loader/babel",
                "transform-object-rest-spread",
                "transform-class-properties"
            ]
        },
        "production": {
            "presets": [
                [
                  "env",
                  {
                    "targets": {
                      "ie": 9,
                      "uglify": true
                    },
                    "modules": false,
                    "useBuiltIns": true
                  }
                ],
                "react",
                "flow"
              ],
            "plugins": [
                "transform-react-remove-prop-types",
                "transform-object-rest-spread",
                "transform-class-properties"
            ]
        }
    }
}
